<div>
    <el-row>
        <div class="list-header-container">
            <div class="list-header">
                <div class="list-text-area">
                    <div class="list-text">
                        <h1>{{navName}}</h1>
                    </div>
                </div>
            </div>  
        </div>
    </el-row>
    <el-row :gutter="10">
        <el-col :span="6">
            <el-menu :router=true :default-active="'/list/' + $route.params.nid">
                <el-menu-item v-for="item in navs" :index="'/list/' + item.Key" v-if="item.Key!=null">{{item.Value}}</el-menu-item>
            </el-menu>
        </el-col>
        <el-col :span="18" v-loading="a_loading" element-loading-text="拼命加载中">
            <acard v-for="a in articles"
            :date="a.Date" 
            :summary="a.Summary" 
            :previmg="a.PrevImg" 
            :title="a.Title"
            :keywords="a.Keywords" 
            :nid="a.nid" 
            :aid="a.aid" 
            :prevtext="a.PrevText + '...'"
            btntext="查看全文"
            :showswitch=true         
            ></acard>
        </el-col>
    </el-row>
    <el-row :gutter="10">
        <el-col :span="18" :offset="6">
            <el-pagination
                @current-change="handleCurrentChange" 
                :current-page="page"
                :page-size="10"
                layout="total, prev, pager, next"
                :total="a_count">
            </el-pagination>
        </el-col>
    </el-row>
</div>