.card-container
{
    display: block;
}
.card-content
{
    height: 100%;
}
.card-bottom 
{
    margin-top: 13px;
    line-height: 12px;
    padding-bottom: 5px;
}
.card-tag
{
    display: inline-block;
}
.card-time 
{
    font-size: 13px;
    color: #999;
}
.card-img
{
    width:100%;
}