.card-container
{
    display: block;
}
.card-content
{
    height: 100%;
}
.card-bottom 
{
    margin-top: 13px;
    line-height: 12px;
    padding-bottom: 5px;
}
.card-tag
{
    display: inline-block;
}
.card-time 
{
    font-size: 13px;
    color: #999;
}
.card-img
{
    width:100%;
}
.icon
{
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height:20px;
    margin-left: 5px;
    margin-right: 5px;
}
.icon-group
{
    display: inline-flex;
    position: absolute;
    right: 10px;

}
.icon-qq
{
    background-image: url(../image/qq.png);
}
.icon-wechat
{
    background-image:url(../image/wechat.png);
}
.icon-qzone
{
    background-image: url(../image/qzone.png);
}
.icon-weibo
{
    background-image: url(../image/weibo.png);
}
.i-s
{
    background-image: url(../image/share.png);
}

.el-tooltip__popper.is-light {
    background: #fff;
    border: 1px solid #1d8ce0;
}